.summary-container form input:hover,
.summary-container form input:focus {
    border: 0.0625em solid #ED8D21;
    background: #EAEAEA;
    outline: none;
}

.summary-container {
    /* top | right | down | left */
    padding: 1em 1em 1em 1em;
    margin: 0 auto;
}

.summary-container button {
    color: white;
    background-color: #ee5624;
    text-decoration: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 1em;
    border-radius: 0.28em;
    margin-top: 1em;
    cursor: pointer;
    border: 5px solid rgba(255, 255, 255, 0.42);
}

.summary-container button:hover {
    background-color: #CA3200;
    border: 5px solid rgba(238, 86, 36, 0.87);
}

.summary-container label {
    color: #666666;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 200px;
}
